
        <!-- Sección superior (perfil) -->
        <div class="bg-white flex flex-col items-center p-4 ">
            <img src="/svg/userProfiel.svg" alt="Perfil" class="w-12 h-12 md:w-auto md:h-auto">
            <p class="text-azulPotente text-sm md:text-lg mt-2">Invitado</p>
            <a href="" class="text-[#4690FF] text-xs md:text-base">Invitado</a>
        </div>

        <!-- Menú -->
        <div class="bg-[#06406A] h-full">
            <div class="p-2 md:p-4 " (click)="onLogin()"> 
                <img src="svg/home.svg" class="inline w-7 h-7 md:w-auto cursor-pointer md:h-auto">
                <p class="text-white inline text-[1.2em] ml-1 cursor-pointer md:text-[1.3em]">Iniciar Sesión</p>
            </div>
            <div class="p-2 md:p-4" (click)="onRegisterAs()">
                <img src="svg/addPublication.svg" class="inline w-7 h-7 md:w-auto cursor-pointer md:h-auto">
                <p class="text-white inline text-[1.2em] ml-1 cursor-pointer md:text-[1.3em]">Registrarse</p>
            </div>

        </div>