
        <!-- Sección superior (perfil) -->
        <div class="bg-white flex flex-col items-center p-4 ">
            <img src="/svg/profile.svg" alt="Perfil" class="object-cover rounded-full w-30 h-30">
            <p class="text-azulPotente text-sm md:text-lg mt-2">Invitado</p>
            <p class="text-[#4690FF] text-xs md:text-base">Invitado</p>
        </div>

        <!-- Menú -->
        <div class="bg-[#06406A] h-full">

            <!-- Iniciar sesión -->
            <div class="p-2 md:p-4 " (click)="onLogin()">
                <img src="svg/home.svg" class="inline w-7 h-7 md:w-auto cursor-pointer md:h-auto">
                <p class="text-white inline text-[1.2em] ml-1 cursor-pointer md:text-[1.3em]">Iniciar Sesión</p>
            </div>

            <!-- Registrarse -->
            <div class="p-2 md:p-4" (click)="onRegisterAs()">
                <img src="svg/addPublication.svg" class="inline w-7 h-7 md:w-auto cursor-pointer md:h-auto">
                <p class="text-white inline text-[1.2em] ml-1 cursor-pointer md:text-[1.3em]">Registrarse</p>
            </div>

        </div>
