<div
  class="bg-white p-6 sm:p-8 rounded-lg shadow-md w-170 max-w-sm relative border border-gray-200 overflow-y-auto max-h-[90vh]">

  <button class="p-0.1 rounded cursor-pointer" appClosedialog>
    <img src="/svg/back-icon.svg" alt="Atrás">
  </button>

  <!-- Foto de perfil de la tienda -->
  <div class="flex justify-center mb-6">
    <div class="relative w-32 h-32">
      <div class="relative w-32 h-32 rounded-full overflow-hidden border border-borde1 my-3 mx-auto">
        <button class="bg-gray-400 rounded-full px-3 absolute top-3 left-5" (click)="onResetImage()">X</button>
        <img *ngIf="!imagePreview" [src]="user_edit.image?.url" class="w-full h-full object-cover rounded-full">
        <img *ngIf="imagePreview" [src]="imagePreview" class="h-full rounded-full">
      </div>
      
      <!-- Botón para editar -->
      <div class="absolute bottom-2 right-2">
        <label class="cursor-pointer">
          <img src="/svg/edit.svg" alt="Editar" class="w-8 h-8 rounded-full bg-white p-1 shadow-md" />
          <input type="file" accept="image/*" class="hidden" (change)="onImageSelected($event)" />
        </label>
      </div>
    </div>
  </div>

  <!-- Formulario -->
  <form class="space-y-5" #editForm="ngForm">
    <div>
      <label for="primer_nombre" class="block text-sm font-medium text-textosNoNegro pb-0.5">
        Nombre:
      </label>
      <input id="primer_nombre" name="primer_nombre" [(ngModel)]="user_edit!.primer_nombre" type="text"
        class="inputs_registro w-full" />
    </div>

    <div>
      <label for="segundo_nombre" class="block text-sm font-medium text-gray-700 pb-0.5">
        Segundo Nombre:
      </label>
      <input id="segundo_nombre" name="segundo_nombre" [(ngModel)]="user_edit!.segundo_nombre" type="text"
        class="inputs_registro w-full" />
    </div>

    <div>
      <label for="primer_apellido" class="block text-sm font-medium text-gray-700 pb-0.5">
        Apellido:
      </label>
      <input id="primer_apellido" name="primer_apellido" [(ngModel)]="user_edit!.primer_apellido" type="text"
        class="inputs_registro w-full" />
    </div>

    <div>
      <label for="segundo_apellido" class="block text-sm font-medium text-gray-700 pb-0.5">
        Segundo Apellido:
      </label>
      <input id="segundo_apellido" name="segundo_apellido" [(ngModel)]="user_edit!.segundo_apellido" type="text"
        class="inputs_registro w-full" />
    </div>

    <div>
      <label for="email" class="block text-sm font-medium text-gray-700 pb-0.5">
        Correo:
      </label>
      <input id="email" name="email" [(ngModel)]="user_edit!.email" type="email" class="inputs_registro w-full" />
    </div>

    <div class="flex justify-center items-center space-x-4 pt-4">
      <button type="button" class="btn_negative" appClosedialog>
        Cancelar
      </button>
      <button type="submit" class="btn_positive cursor-pointer" (click)="saveChanges()">
        {{ isLoading ? 'Guardando...' : 'Guardar' }}
      </button>
    </div>
  </form>
</div>