<!-- Filtrar -->

<ul class="nav">
    <li>
        <!-- Boton filtrar -->
        <button class="btn_azulPotente cursor-pointer mr-1" (click)="abrirFiltros($event)">Filtrar</button>
        @if (isFiltred) {
        <button class="btn_negative cursor-pointer my-1" (click)="borrarFiltros($event)">Borrar filtros</button>
        }

        <!-- Filtros -->
        @if (isAbierto) {
        <ul class="absolute bgDialogs_general textOnDialog translate-x-2 translate-y-0 min-w-[200px] text-left">
            <li class="filtros" (click)="onFilterByPrice()">Filtrar por precio <img src="svg/arrowBlue.svg"
                    class="w-fit float-right ml-5 translate-y-[100%] rotate-90" alt=""></li>

            <!-- No tiene sentido si solo existe 1 ubicacion por seller -->
            @if (!fromProfile) {
            <li class="filtros" (click)="onFilterByProximity()">Filtrar por cercania <img src="svg/arrowBlue.svg"
                    class="w-fit float-right ml-5 translate-y-[100%] rotate-90" alt=""></li>
            }

            <li class="filtros" (click)="onFilterByCategory()">Filtrar por categoria <img src="svg/arrowBlue.svg"
                    class="w-fit float-right ml-5 translate-y-[100%] rotate-90" alt=""></li>
        </ul>
        }
    </li>

</ul>