@if (product) {

<form (ngSubmit)="onSubmit()" #editForm="ngForm">
  <div
    class="border border-borde2 bg-blancoSucio rounded-[20px] p-3 max-h-[calc(105vh-4rem)] md:max-h-[calc(120vh-4rem)] mx-2 flex flex-col">

    <h1 class="text-azulPotente text-[30px] md:text-[48px] font-medium text-center w-full">Editando Producto</h1>

    <div class="flex justify-end gap-2 mr-5">

      <label class="inline-flex items-center cursor-pointer">
        <span class="ms-3 text-sm font-medium text-gray-900 mx-1">Ocultar</span>
        <input type="checkbox" class="sr-only peer"  [ngModel]="!product.visibilidad" (click)="isVisibilidad()"
          (ngModelChange)="product.visibilidad = $event ? 0 : 1" name="productHidden">
        <div
          class="relative w-11 h-6 bg-gray-200 rounded-full peer peer-focus:ring-2 peer-focus:ring-blue-300 dark:peer-focus:ring-azulPotente dark:bg-borde1 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600 dark:peer-checked:bg-blue-600">
        </div>
      </label>


    </div>

    <!-- Zona central: ocupa el espacio disponible y solo ella hace scroll -->
    <div class="flex-1 min-h-0 overflow-auto">
      <div class="h-full grid grid-rows-[40%_60%] md:grid-cols-2 md:grid-rows-none gap-4">

        <!-- Imagen -->
        <div class="flex flex-col items-center justify-start min-h-0">
          <!-- Contenedor de la imagen con altura fija -->
          <div
            class="border border-borde1 rounded-2xl my-3 w-full md:w-[600px] h-[400px] md:h-[500px] mx-auto bg-cover bg-center relative overflow-hidden">
            <button type="button" class="btn_negative absolute top-2 right-2" (click)="onResetImage()">X</button>

            @if (!imagePreview) {
            <img [src]="product.image?.url" alt="Vista previa por defecto"
              class="h-full w-full object-cover rounded-[14px]">
            } @else {
            <img [src]="imagePreview" alt="Vista previa seleccionada" class="h-full w-full object-cover rounded-[14px]">
            }
          </div>

          <div class="mx-auto mt-2">
            <label for="upload" class="cursor-pointer px-4 py-2 btn_azulPotente transition inline-flex items-center">
              Cargar imagen
              <input type="file" id="upload" class="hidden" accept="image/*" (change)="onImageSelected($event)"
                name="image" #image="ngModel" ngModel>
            </label>
          </div>
        </div>

        <!-- Inputs -->
        <div class="grid grid-rows-[auto_1fr] md:p-5">
          <div class="flex flex-col h-fit space-y-4">
            <input type="text" name="productName" class="inputs_registro" placeholder="Nombre del producto" required
              [(ngModel)]="product.titulo" [value]="product.titulo">

            <input type="number" name="productPrice" class="inputs_registro" placeholder="Precio del producto" required
              [(ngModel)]="product.precio" [value]="product.precio">

            <div>
              <label class="text-textosNoNegro">Categoria</label>
              <select name="productCategory"
                class="bg-[#EDEDED] border border-borde2 p-1 rounded-md mb-3 text-textosNoNegro" required
                [(ngModel)]="product.category_id">
                <option [value]="1">Electrodomesticos</option>
                <option [value]="2">Alimentos</option>
                <option [value]="3">Entretenimiento</option>
                <option [value]="4">Muebles</option>
              </select>
            </div>
          </div>

          <textarea name="productDescription"
            class="bg-white border border-borde2 rounded-md w-full md:h-[full] resize-none p-1"
            placeholder="Descripcion" [(ngModel)]="product.descripcion"></textarea>
        </div>

      </div>
    </div>

    <!-- Footer con botones: siempre abajo -->
    <div class="flex justify-end gap-2 mt-3">
      <button type="button" class="btn_negative" (click)="onCancel()" appClosedialog>Cancelar</button>
      <input type="submit" value="Editar" class="btn_azulPotente disabled:opacity-50 disabled:cursor-not-allowed"
        [disabled]="!editForm.valid">
    </div>

  </div>
</form>
}
