<!-- Contenedor de publicaciones -->
<section class="section_Publications">

  @if (publications) {
  @for (publication of publications; track $index) {

  <!-- Contenedor de publicacion -->
  <div class="divPublications" (click)="openProductDetail(publication)">
    <!--  {{-- Imagen --}} -->
    <div [ngStyle]="{'background-image': 'url(' + publication.image!.url + ')'}"
    class="divPublications_Image">
      <!--  {{-- Estrellas: cada img es un tipo de estrella --}} -->
      <div class="">
        @for (star of [1,2,3,4,5]; track $index) {
        <span class="" [class.text-yellow-400]="star <= publication.puntuacion_promedio!"
          [class.text-blue-900]="star > publication.puntuacion_promedio!">
          &#9733;
        </span>
        }
      </div>
    </div>

    <!-- {{-- Contenedor de titulo y precio --}} -->
    <div class="divPublications_TituloPrecioCategoria">
      <!-- {{-- Titulo --}} -->
      <p class="divPublications_Titulo">
        {{publication.titulo}}</p>

      <!-- Categoria -->
      <p class="divPublications_Categoria">{{publication.category?.categoria}}</p>

      <!-- {{-- Precio --}} -->
      <span class="divPublications_Precio">{{publication.precio | currency:'COP ':'symbol':'1.0-0'}}</span>
    </div>
  </div>
  }
  }

</section>
<div
  class="slideProductDetail"
  [class.translate-x-0]="open" [class.translate-x-full]="!open">
  @if (publication_selected) {
  <div class="h-full w-full">
    <app-product-detail [publication_detail]="publication_selected" (close)="closePublicationDetail()">
      <!-- Agregar output event -->
    </app-product-detail>
  </div>
  }
</div>
