<!-- login.component.html -->
<div class="flex items-center justify-center min-h-screen">
    <div class="bg-white shadow-lg rounded-xl p-12 max-full max-w-full mx-auto relative">

        <!-- Botón volver con ícono -->
        <div class="absolute w-auto top-3 left-4 right-3 flex justify-between" appClosedialog>
            <button class="rounded-md border border-white cursor-pointer" appClosedialog>
                <img src="svg/back-icon.svg" alt="">
            </button>
        </div>

        <!-- Encabezado con logos -->
        <div class="flex items-center justify-center flex-col mb-7">
            <div class="mb-2">
                <img src="svg/logo.svg" alt="GeoMarket Logo" class="w-25 h-20">
            </div>
            <div>
                <img src="svg/geomarket.svg" alt="GeoMarket Título"
                    class="w-[180px] sm:w-[200px] md:w-[240px] lg:w-[220px] h-auto">
            </div>
        </div>

        <!-- Mensajes simples -->
        <div class="mb-4">
            @if (showSuccessMessage) {
                <div class="text-azulSecundario">Inicio de sesión exitoso</div>
            }
            @if (showErrorMessage) {
                <div class="text-red-500 text-[12px]">Las credenciales proporcionadas son incorrectas</div>
            }
        </div>

        <!-- Formulario -->
        <form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm" class="space-y-3">

            <!-- Campo de correo -->
            <div>
                <input type="email" name="email" [(ngModel)]="login.email" placeholder="Correo*"
                    class="w-3xs px-4 py-1 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-400 border-borde2 placeholder-gray-300"
                    #email="ngModel" [class.border-red-500]="email.invalid && (email.touched || loginForm.submitted)"
                    [class.border-gray-300]="email.valid || (!email.touched && !loginForm.submitted)" required email
                    autofocus />
                @if (email.invalid && (email.touched || loginForm.submitted)) {
                <div class="text-red-500 text-sm mt-1">
                    @if (email.errors?.['required']) {
                    El correo es obligatorio
                    }
                    @if (email.errors?.['email']) {
                    El correo debe tener un formato válido
                    }
                </div>
                }
            </div>

            <!-- Campo de contraseña -->
            <div>
                <input type="password" name="password" [(ngModel)]="login.password" placeholder="Contraseña*"
                    class="w-full px-4 py-1 border rounded-xl focus:outline-none focus:ring-2 focus:ring-blue-400 border-borde2 placeholder-gray-300"
                    #password="ngModel"
                    [class.border-red-500]="password.invalid && (password.touched || loginForm.submitted)"
                    [class.border-gray-300]="password.valid || (!password.touched && !loginForm.submitted)" required
                    minlength="8" />
                @if (password.invalid && (password.touched || loginForm.submitted)) {
                <div class="text-red-500 text-sm mt-1">
                    @if (password.errors?.['required']) {
                    La contraseña es obligatoria
                    }
                    @if (password.errors?.['minlength']) {
                    La contraseña debe tener al menos 8 caracteres
                    }
                </div>
                }
            </div>

            <!-- Botones -->
            <div class="flex justify-center gap-1 flex-nowrap">
                <button type="button" class="btn_negative" (click)="onRegisterAs()" appClosedialog>Registrarse</button>
                <button type="submit" class="btn_positive">Iniciar sesión</button>
            </div>

            <!-- Líneas separadoras -->
            <div class="flex items-center justify-center p-2">
                <div class="w-20 h-px bg-gray-300"></div>
                <div class="w-20 h-px bg-gray-300 ml-3"></div>
            </div>

            <!-- Recuperar contraseña -->
            <div class="mt-4 text-center text-[15px]">
                <button type="button" class="text-blue-500 hover:underline">
                    Recuperar Contraseña
                </button>
            </div>
        </form>
    </div>
</div>