@if (publication_detail) {

<div
    class="border border-gray-500 bg-white w-full overflow-y-auto overflow-x-hidden max-w-sm h-full rounded-md font-sans p-4 space-y-4">
    <!-- Header con botones -->
    <div class="flex justify-between items-center">
        <button class="rounded-lg w-10 h-10 border-0 flex items-center justify-center"
            (click)="removePublicationDetail()">
            <img src="svg/back-icon.svg" alt="atras" class="w-15 h-15">
        </button>
        <div class="relative">
            <button (click)="abrirMenu($event)" class="rounded-lg border-0 w-10 h-10 flex items-center justify-center">
                <img src="svg/trespuntos.svg" alt="puntos" class="w-7 h-7">
            </button>
            @if (menuAbierto) {
            <div class="bg-white border rounded shadow px-2 py-1 text-xs absolute min-w-[80px] right-[10%]">
                <button class="block text-red-500 hover:underline w-full text-left cursor-pointer"
                    (click)="onReport()">Reportar</button>
            </div>
            }
        </div>
    </div>

    <!-- Título -->
    <h2 class="text-2xl font-semibold">{{publication_detail.titulo}}</h2>

    <!-- Imagen del producto -->
    <div [ngStyle]="{'background-image': 'url(' + publication_detail.image!.url + ')'}"
        class="border border-gray-500 w-full aspect-square rounded-md bg-cover bg-center"></div>

    <!-- Precio y botón favorito -->
    <div class="flex justify-between items-center">
        <p class="text-gray-500 text-xl font-semibold">{{publication_detail.precio | currency: 'COP'}}</p>
        <button class="bg-transparent" (click)="changeFavoritePublication()">
            <img [src]="favorito ? 'svg/favoritesoscuro_relleno.svg' : 'svg/favoritesoscuro_vacio.svg'" alt="corazon"
                class="w-10 h-10 fav-icon">


        </button>
    </div>

    <!-- Estrellas -->
    <div class="m-2 flex">
        @for (star of [1,2,3,4,5]; track $index) {
        <span class="text-3xl" [class.text-yellow-400]="star <= publication_detail.puntuacion_promedio!"
            [class.text-blue-900]="star > publication_detail.puntuacion_promedio!">
            &#9733;
        </span>
        }
    </div>

    <!-- Descripción -->
    <div class="bg-gray-100 rounded-lg p-4">
        <h3 class="font-semibold mb-2">Descripción</h3>
        <p class="text-sm text-gray-700 leading-relaxed">
            {{publication_detail.descripcion}}
        </p>
    </div>

    @if (publication_detail.seller_id) { <!-- aqui es si es user_id! = seller_id -->
    <button class="bg-azulSecundario text-white w-full h-10 rounded-lg font-medium" (click)="onChat()">Mandar
        mensaje</button>

    }

    <!-- Usuario vendedor -->
    <div class="bg-gray-300 rounded-xl p-4 flex items-center space-x-4 cursor-pointer"
        [routerLink]="['/ProfileOther', seller_product_detail.id]">
        <img class="w-10 h-10 rounded-full"
            [src]=" seller_product_detail.image?.url ? seller_product_detail.image?.url : 'svg/profile.svg'" alt="foto">
        <p class="font-medium">{{seller_product_detail.nombre_tienda}}</p>
    </div>

    <!-- Botones y mapa -->
    <div class="space-y-4">
        <button class="bg-[#144467] text-white w-full h-10 rounded-lg font-medium">Ver ubicación</button>
        <div class="w-full aspect-square rounded-lg overflow-hidden">
            <iframe class="w-full h-full"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1992.160176789594!2d-76.48352223851431!3d3.0082367277367377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e307f3134b20a77%3A0xcb8ce9e4a1c72448!2sSENA%20Regional%20Cauca!5e0!3m2!1ses-419!2sco!4v1750977951386!5m2!1ses-419!2sco"
                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>

    <!-- Comentarios -->
    <div class="mt-5">
        <app-comments [publication_id]="publication_detail.id!"
            [seller_id]="publication_detail.seller_id!"></app-comments>

    </div>

</div>
}